[submodule "argo-workflow/argo-workflows"]
	path = argo-workflow/argo-workflows
	url = https://github.com/argoproj/argo-workflows.git
[submodule "zig/zig-lua-wrapper"]
	path = zig/zig-lua-wrapper
	url = https://github.com/ConnorRigby/zig-lua-wrapper.git
[submodule "zig/wasmtime-hello"]
	path = zig/wasmtime-hello
	url = git@github.com:samof76/wasmtime-hello.git
[submodule "zig/redis_module/redis"]
	path = zig/redis_module/redis
	url = https://github.com/redis/redis
	branch = 6.0
