apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
- "../../../base"

commonLabels:
  env: {{ environment }}

{% if environment == "staging" %}
patchesJson6902:
  - target:
      group: databases.spotahome.com
      version: v1
      kind: RedisFailover
      name: redis
    patch: |-
      - op: remove
        path: /spec/redis/affinity
      - op: remove
        path: /spec/sentinel/affinity
      - op: remove
        path: /spec/redis/topologySpreadConstraints
      - op: remove
        path: /spec/sentinel/topologySpreadConstraints
{% endif %}